$background-color: rgb(20, 20, 20);
$white: rgb(235, 235, 235);
$box-shadow-color: rgb(45, 45, 45, 1);
$jb-gold: #fbb040;
$jb-blue: #221c50;
$jb-blue-light: #322975;

/////////////////////////////////
// Basic Document Properties
/////////////////////////////////

//For slate background
@mixin slate-background {
  background-color: #99958e;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

html {
  scroll-behavior: smooth;
  font: 18px "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: $background-color;
}

#page-container {
  max-width: 960px;
  -webkit-box-shadow: 5px 0px 145px 0px $box-shadow-color;
  -moz-box-shadow: 5px 0px 145px 0px $box-shadow-color;
  box-shadow: 5px 0px 145px 0px $box-shadow-color;
}

main {
  background-color: $background-color;
}

.slate {
  @include slate-background;
}

.fancy-text {
  font-family: "Domine", 'Times New Roman', Times, serif;
}

/////////////////////////////////
// Landing Page Logo Styling
/////////////////////////////////

.logo-container {
  max-width: 75%;
  max-height: 600px;
}

.logo-img {
  max-height: 600px;
}

#logo-on-load {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 10s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/////////////////////////////////
// Advance Arrow Styling
/////////////////////////////////

.bottom-sticker {
  bottom: 0px;
  height: 96px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-sticker-arrow:hover {
  width: 84px;
  height: 84px;
  transition: width 0.2s, height 0.2s;
}

.advance-arrow {
  color: $white;
}

/////////////////////////////////
// JBFC Button
/////////////////////////////////

.jbfc-btn {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $jb-gold;
  background-color: $jb-blue;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  min-width: 300px;
  max-width: 70%;
}

.jbfc-btn:hover {
  background-color: $jb-blue-light;
  text-decoration: none;
  color: $jb-gold;
}