$background-color: rgb(20, 20, 20);
$white: rgb(235, 235, 235);
$box-shadow-color: rgb(45, 45, 45, 1);

//For slate background
@mixin slate-background {
  background-color: #ada58c;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  background-color: $background-color;
}

#page-container {
  max-width: 960px;
  -webkit-box-shadow: 5px 0px 145px 0px $box-shadow-color;
  -moz-box-shadow: 5px 0px 145px 0px $box-shadow-color;
  box-shadow: 5px 0px 145px 0px $box-shadow-color;
}

main {
  background-color: $background-color;
}

.slate {
  @include slate-background;
}

.logo-container {
  max-width: 75%;
  max-height: 600px;
}

.logo-img {
  max-height: 600px;
}

#logo-on-load {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 10s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bottom-sticker {
  bottom: 0px;
  height: 96px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-sticker-arrow:hover {
  width: 84px;
  height: 84px;
  transition: width 0.2s, height 0.2s;
}

.advance-arrow {
  color: $white;
}
